
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the user is the owner of the document
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Match any document in the 'users' collection
    match /users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
